<template name="aboutme">
	<h1> Andy Wang </h1>
	<h2> Developer · Hacker · Dancer · Singer · Artist · Entrepreneur · Big Data </h2>

	<ul>
		<li> 
			<a id="projects-btn" class="welcome-button" href="#projects"> Projects </a>
		</li>

		<li>
			<a id="hacks-btn" class="welcome-button" href="#hacks"> Hacks </a>
		</li>

		<li> 
			<a id="resume-btn" class="welcome-button" href="files/resume.pdf"> Résumé </a>
		</li>

		<li class='etc'>
			<a> and etc... </a>
		
            <!-- <a href='#' class='etc'>and etc.</a> -->
            <ul class='icons'>
				<li class='icon-github'><a href='https://github.com/AndrewWang996' target='blank' class='fa fa-github'></a></li>
				<li class='icon-facebook'><a href='https://www.facebook.com/supdude.andy' target='blank' class='fa fa-facebook'></a></li>
				<li class='icon-linkedin'><a href='https://www.linkedin.com/in/andy-wang-5a503546' target='blank' class='fa fa-linkedin'></a></li>
				<li class='icon-mail'><a href='mailto:andy5595@mit.edu' class='fa fa-envelope'></a></li>
            </ul>
        </li>
 	</ul>
 </template>